
div.form-group {
  margin: 20px 0;
}

div.form-group.inlined {
  width: 49%;
  display: inline-block;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input,
select,
textarea {
  border-radius: 20px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 500px;
  padding: 10px;
}

div.form-group.inlined input {
  width: 95%;
  display: inline-block;
}

.clear {
  height: 76px;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}
