<!DOCTYPE html>
<style>
  body {
	color: rgb(66, 33, 33);
	
  background-image: url('https://i.pinimg.com/originals/ef/39/c9/ef39c925f59c5fdb013a339e75ea2edb.jpg');
	background-size: cover;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}


</style>
<body> 
    <div class="form">
          <div class="title"><b>Update Room</b></div><br>
          <div class="container">

          <div class="subtitle">Enter the details to be updated</div>

          <div class="input-container ic1">
            <label for="roomNo" class="placeholder"></label>
            <input id="roomNo" class="input" type="text" placeholder="enter updated room no " />
           </div><br>

          <div class="input-container ic2">
            <label for="roomType" class="placeholder"></label>
            <input id="roomType" class="input" type="text" placeholder="enter room type " />
            <div class="cut"></div>
           </div><br>

          <div class="input-container ic2">
            <label for="ratePerDay" class="placeholder"></label>
            <input id="ratePerDay" class="input" type="text" placeholder="enter updated rate " />
            <div class="cut cut-short"></div><br>
             
          </div>
        
        
          <button type="text" class="submit">submit</button>
        </div>
      </div>
    </body>
    <Html>

